@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');


:root {
    --primary-color: #1f3d2b; 
    --background-color: #F6F3ED;
}


body {
    background-color: var(--background-color);
    font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
}

.navbar-brand {
    color: #F6F3ED;
}


#hero {
    height: 100vh;
    background-image: url('images/hero-bg-img.png');
    background-size: cover;
    background-position: center;
}

#hero h1, #hero p {
    color: black;
}


#cta {
    background-image: url('images/cta-bg.png');
    background-size: cover;
    background-position: center;
}


.btn-primary, .btn-success {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #163320; 
}


.navbar-brand img,
#how-it-works img,
footer img {
    max-width: 40px;
    max-height: 40px;
}

#testimonials img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}


